# Cypress
cypress/results/
cucumber-messages.ndjson

# IDE
.idea/

# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm
